In [1]:
import pandas as pd

In [2]:
!pwd

/Users/zzg/PycharmProjects/untitled1/DAN/dataset/raw_pkl

In [4]:
pd.read_pickle('0_10000.pkl')

               0    1         2         3         4         5         6    7
0     162.725477  397  0.452356  0.424793  0.774819  0.432193  0.432193  0.2
1     162.359245  399  0.452356  0.424793  0.779442  0.439232  0.432193  0.2
2     161.919490  402  0.452356  0.424793  0.774819  0.432193  0.432193  0.2
3     161.693866  405  0.452356  0.424793  0.774819  0.432193  0.432193  0.2
4     162.222257  410  0.452356  0.424793  0.774819  0.432193  0.432193  0.2
...          ...  ...       ...       ...       ...       ...       ...  ...
9995   30.702591  622  0.416993  0.416993  0.873809  0.432193  0.416993  0.0
9996   31.394970  621  0.416993  0.416993  0.872792  0.432193  0.416993  0.0
9997   33.678289  623  0.416993  0.416993  0.871425  0.432193  0.416993  0.0
9998   36.789577  619  0.416993  0.416993  0.869000  0.432193  0.416993  0.0
9999   40.233398  617  0.416993  0.416993  0.864746  0.432193  0.416993  0.0

[10000 rows x 8 columns]